<div class="flex flex-col sm:flex-row border p-1 rounded-lg shadow-sm cursor-pointer hover:bg-gray-100">
  @if (orderLine()?.quantity) {
    <p-badge class="absolute" styleClass="bg-red-500 m-1" [value]="orderLine()?.quantity"/>
  }
  <img class="pl-6 pt-6 sm:pl-0 sm:pt-0" height="197" width="194" [ngSrc]="dish().image" [alt]="dish().name">
  <div class="p-6 w-full flex flex-col justify-between">
    <div>
      <div class="flex justify-between items-baseline">
        <app-h4>{{ dish().name }}</app-h4>
        <i class="pi pi-exclamation-circle"></i>
      </div>
      <app-p>{{ dish().description }}</app-p>
    </div>
    <div class="flex items-baseline gap-3">
      @if (orderLine()) {
        <app-counter [value]="orderLine()?.quantity" (valueChange)="changeQuantity($event)"></app-counter>
      } @else {
        <app-button color="black" (click)="changeQuantity(1)">Add to card</app-button>
      }
      <span class="text-[18px] font-semibold">
        € {{ dish().price }}
      </span>
    </div>
  </div>

</div>
