<div>
  <div class="absolute blur-sm -z-10 h-screen bg-top bg-cover w-full bg-[url('/assets/img/kitchen_cover.jpeg')]">
  </div>
  <div class="h-screen pt-16 px-40 bg-gradient-to-b from-transparent to-white">
    <p-sidebar class="bg-white" [(visible)]="visible" position="right">
      <h3>Sidebar</h3>
      <p>
        Lorem ipsum dolor sit amet...
      </p>
    </p-sidebar>
    <div class="container rounded-lg p-2 mx-auto bg-white min-h-screen">
      <app-restaurant-cover></app-restaurant-cover>
      <div class="p-2 mt-4">
        <div class="flex justify-between mb-8">
          <app-select-button [(value)]="selectedOption" [options]="options"></app-select-button>
          <app-search-input></app-search-input>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <app-dish-card></app-dish-card>
          <app-dish-card></app-dish-card>
          <app-dish-card></app-dish-card>
          <app-dish-card></app-dish-card>
          <app-dish-card></app-dish-card>
          <app-dish-card></app-dish-card>
        </div>
      </div>
    </div>
  </div>
</div>
