<button
  [class.rounded-full]="radius() == 'full'"
  [class.rounded-lg]="radius() == 'lg'"
  [class.text-white]="color() == 'black' || color() == 'orange'"
  [class.bg-bl]="color() == 'black'"
  [class.hover:bg-gray-700]="color() == 'black'"
  [class.text-bl]="color() == 'gray'"
  [class.bg-gr-3]="color() == 'gray'"
  [class.hover:bg-gray-300]="color() == 'gray'"
  [class.bg-og]="color() == 'orange'"
  [class.hover:bg-orange-700]="color() == 'orange'"
  [class.text-[16px]]="size() === 'lg'"
  [class.font-semibold]="size() === 'lg'"
  [class.h-12]="size() === 'lg'"
  [class.w-full]="width() === 'full'"
  class="p-1 px-4">
  <ng-content></ng-content>
</button>
